@import 'includes/config.less';
@import 'includes/all.less';

//Global Styles//

html{
  position: relative;
  min-height: 100%;
}

body{
	background-color: @body-background;
  font-family: @logo-font;
}

*{
  font-family: inherit;
  line-height: 1.7em;
  letter-spacing: -0.5px;
}

a{
  color: @light-green;
  transition: color @button-transition-time;
  &:hover{
    color: @dark-green;
  }
}

b{
  color: @orange;
}
section{
  position: relative;
  overflow: hidden;
  transition: all @show-transition-time;
}

table{
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;
    tr{
      height: 50px;
      td, th{
        padding: 10px;
        text-align: center;
      }
  }
}

th{
  background-color: @white;
  color: @medium-green;
}

td{

}

table, td, th {
    border: 1px solid @white;
}

@import 'sections/navbar.less';
@import 'sections/footer.less';

//Element Styles//

.full-height{
  min-height: 100vh;
}

.half-height{
  min-height: 50vh;
}

.back-fill{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

.translucent {
  opacity: 0.9;
}
.back-white{
  background-color: @white;
  color: @black;
}
.back-black{
  background-color: @black;
  color: @white;
}
.back-light-green{
  background-color: @light-green;
  color: @black;
}
.back-medium-green{
  background-color: @medium-green;
  color: @white;
}
.back-dark-green{
  background-color: @dark-green;
  color: @white;
}
.back-orange{
  background-color: @orange;
  color: @black;
}
.back-light-grey{
  background-color: @light-grey;
  color: @black;
}
.back-dark-grey{
  background-color: @dark-grey;
  color: @white;
}
.font-white{
  color: @white;
}
.font-black{
  color: @black;
}

.content-wrap{
  .responsive-padding(30px, 20px, 10px);
  text-align: center;
}

.flexbox > div{
  .responsive-padding(30px, 20px, 10px);
}

.postcard{
  .responsive-padding(15px, 10px, 10px);
  border-radius: @postcard-radius;
  z-index: 100;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.btn {
  padding: @button-padding;
  border-radius: @button-radius;
  transition: all @button-transition-time;
  font-weight: 500;
  text-align: center;
  .responsive-font-size(20px, 16px, 14px);
  &.btn-large{
    .responsive-font-size(30px, 20px, 16px);
    .responsive-padding(30px, 20px, 10px)
  }

  &.btn-normal{
    border: 1px solid @light-green;
    color: @light-green;
    &:hover{
      background-color: @light-green;
      color: @white;
    }
  }
  &.btn-cta{
    background-color: @orange;
    color: @white;    
    &:hover{
      border: 1px solid @orange;
      background-color: @white;
      color: @orange;
    }
  }
  &.btn-white{
    border: 1px solid @white;
    color: @white;
    &:hover{
      background-color: @white;
      color: @light-green;
    }
  }
  &.btn-outline-white{
    border: 1px solid @white;
  };
  &.btn-no-border{
    border: none;
    &:hover{
      border:none;
    }
  };
}

.back-image{
  width: 100%;
  background-size: cover;
  background-position: center center;
  .responsive-min-height(300px, 250px, 150px);
}

.clear-small{
  width: 100%;
  height: 30px;
}

.clear-large{
  width: 100%;
  height: 80px;
}

.circle-image{
  position: relative;
  border-radius: 200px;
  border: 2px @white solid;
  width: 400px;
  height: 400px;
  font-size: 200px;
  .tablet({
    width: 300px;
    height: 300px;
    font-size: 150px;
  });
  .mobile({
    width: 200px;
    height: 200px;
    font-size: 100px;
  });

  display: flex;

  .content-wrap{
    transition: all 600ms;
    flex: 1;
    text-align: center;
    margin: auto;
    z-index: 100;
    opacity: 0;
    *{
      position: relative;
      z-index: 100;
    }
  }

  &::before{
    content: "";
    transition: all 500ms;
    background-color: @white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    border-radius: 1000px;
  }

  &:hover{
    &::before{
      opacity: 1;
    }
    .content-wrap{
      opacity: 1;
    }
  }
}

//fonts

.tagline{
  .responsive-font-size(80px, 60px, 40px);
}
.section-heading{
  .responsive-font-size(50px, 38px, 26px); 
}
.subheading{
  .responsive-font-size(24px, 20px, 16px); 
}
.larger-text{
  .responsive-font-size(18px, 16px, 14px);
  text-align: left;
}
.default-text{
  .responsive-font-size(16px, 14px, 12px); 
  text-align: left;
}

//Section Styling

.benefits-list{
  list-style: none;

  li::before {    
    font-family: 'FontAwesome';
    margin:0 10px 0 -30px;
    color: @orange;
  }
  li:nth-of-type(1)::before{
    content: '\f084';
  }
  li:nth-of-type(2)::before{
    content: '\f000';
  }
  li:nth-of-type(3)::before{
    content: '\f040';
  }
}


#mailing-form{
  .responsive-font-size(18px, 16px, 14px);
  input, .btn{
    vertical-align: top;
  }
  input{
    padding: 4px;
    border-radius: 5px;
    border: 1px solid @light-green;
  }
}

.contact-details{
  & > span{
    display: block;
    .responsive-font-size(18px, 16px, 14px);
  }
}


.social-media{
  a{
    margin-right: 10px;
    text-align: center;
    i{
      transition: all 300ms;
      background-color: @light-green;
      color: @white;
      width: 40px;
      padding: 10px;
      font-size: 20px;
      border-radius: 1000px;
    }
    &:hover{
      i{
        background-color: @dark-green;
      }
    }
  }
}


